body {
  min-width: 1035px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
}

.large_container {
  width: 1015px;
  margin: 0 auto;
}

.small_container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  min-height: 490px;
  padding-top: 60px;
  background-image: url("../img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #fffff;
  background-color: #ffcb78;
}

.header-top {
  margin-bottom: 120px;
}

.header-logo {
  float: left;
  width: 140px;
  height: 76px;
}

.header-logo img {
  height: 76px;
  width: 140px;
}

.main-nav {
  float: left;
  width: 600px;
  margin: 0;
  margin-left: 60px;
  margin-top: 10px;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  list-style: none;
  font-weight: bold;
  line-height: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav li {
  float: left;
  margin-right: 54px; 
  text-transform: uppercase;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav a:hover {
  color: #ffcb78;
  border-bottom: 1px solid #fff;
  padding-bottom: 16px;
}

.main-nav a:active {
  color: rgba(255, 203, 120, 0.3);
  border-bottom: 1px solid #fff;
  padding-bottom: 16px;
}

.promo {
  color: #ffffff;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
}

.new-items {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: #fff;
}

.new-items h2 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  margin-bottom: 90px;
  text-transform: uppercase;
}

.catalog-new-items {
  border-left: 1px solid #e5e5e5;
  float: left;
  height: 755px;
  position: relative;
  width: 398px;
}

.catalog-new-items:last-child {
  border-right: 1px solid #e5e5e5;
}

.catalog-new-items h3 {
  font-weight: bold;
  font-size: 40px;
  margin-top: 16px;
  margin-left: 35px;
  margin-bottom: 40px;
  text-transform: uppercase;

}

.top-position-item {
  margin-right: 25px;
  position: absolute;
  right: 0;
  top:85px;
  width: 155px;
}

.product-feature table{
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
  font-weight: bold;
}

.product-feature td {
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  text-transform: uppercase;
}


.item-structure p {
  color:404040;
  font-size: 14px;
  line-height: 24px;
}

.item-image {
  max-width: 100%;
  margin-left: 35px;
  height: auto;
  height: 459px;
  width: 319px;
}

.item-subscribe {
  margin: 0;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 65px;
  width: 330px;
}

.item-control {
  margin: 0;
  margin-left: 35px;
}

.item-control .btn {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.item-control .btn-info {
  color: #834700;
  background-color: #ffffff;
  border: 2px solid #834700;
  padding: 13px 21px;
}

.item-control .btn-info:hover {
  color: #6a3900;
  border-color: #6a3900;
}

.item-control .btn-info:active {
  color: rgba(106, 57, 0, 0.3);
  border-color: rgba(106, 57, 0, 0.3);
}

.item-control .btn-buy {
  color: #ffffff;
  background-color: #834700;
  margin-left: 10px;
  margin-right: 25px;
  padding: 15px 21px;
}

.item-control .btn-buy:hover {;
  background-color: #6a3900;
}

.item-control .btn-buy:active {
  color: rgba(255, 255, 255, 0.3);
}

.item-price {
  color: #000;
}

.features {
  background-color: #ffcb78;
  padding-top: 75px;
  padding-bottom: 90px;
}

.features ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  float: left;
  width: 210px;
  padding-top: 90px;
  padding-right: 60px;
  padding-left: 60px;
  border-left: 1px solid #e5b56b;
  position: relative;
}

.feature-item p {
   margin: 0;
}

.feature-item:first-child {
  border-left-color: transparent;
}

.feature-item h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 60;
  background-image: url(../img/icon-kvast.png);
  background-repeat: no-repeat;
}

.feature-brew::before {
  background-position: -5px -49px;
  width: 50px;
  height: 68px;
}

.feature-matreshka::before {
  width: 46px;
  height: 65px;
  background-position: -65px -49px;
}

.feature-thumsup::before {
  width: 63px;
  height: 58px;
  background-position: -164px -5px;
}

.history {
  background-color: fff;
  padding: 90px 0;
}

.history-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  color: #000;
  margin: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.history_container {
  position: relative;
}

.history_container:first-child {
  padding-bottom: 70px;
}

.list-title {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  margin: 0;
  margin-right: 339px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.history dt {
  margin: 0;
  margin-bottom: 20px;
}

.history dd {
  margin: 0;
}

.history dd img {
  position: absolute;
  border-radius: 5px;
  top: 60px;
  right: 0;
  height: 101px;
  width: 200px;
}

.history dd p {
  margin: 0;
  width: 470px;
}

.list-source a {
  color: #834700;
}

.list-source a:hover {
  color: #6a3900;
}

.list-source a:active {
  color: rgba(106, 57, 0, 0.3);
}

.review {
  background-color: #ede4d7;
  padding-top: 95px;
  padding-bottom: 90px;
}


.review-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  color: #000;
  margin: 0;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.review-item {
  margin: 0;
  position: relative;
}

.review-item p {
  width: 695px;
  margin: 0;
  margin-bottom: 45px;
}

.review-item::before {
  content: "";
  height: 31px;
  position: absolute;
  top: 5px;
  left: -80px;
  width: 41px;
  background-image: url("../img/icon-kvast.png");
  background-repeat: no-repeat;
  background-position: -191px -73px;
}

.review-item cite {
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  
}

.review-item .btn {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px 20px 25px;
}

.review-item .btn:hover {
  background-color: #a59f97;
  border-color: #a59f97;
  color: #fff;
}

.review-item .btn:active {
  background-color: #8f8980;
  border-color: #8f8980;
  color: rbga(255, 255, 255, 0.3);
}

.assortment {
  padding-top: 105px;
  padding-bottom: 115px;
}

.assortment-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 61px;
  margin: 0;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.goods {
  text-align: center;
  text-transform: uppercase;
}